body{
    margin: 0;
    margin-top: -1%;
}

    /* barre de navigation */

.navbar{
    color: white;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 1s ease-in-out;
}

.navbar ul{
    display: flex;
    text-align: center;
    width: auto;
    margin: 0 30%;
}

.navbar ul li{
    list-style: none;
    margin: 0 1.5%;
}

.navbar ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 150%;
    white-space: nowrap;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.navbar ul li a:hover{
    color: #F8BE00;
    text-decoration: underline;
}

.navbar h1{
    display: block;
    margin-left: 10%;
    font-size: 150%;
    text-transform: uppercase;
    white-space: nowrap;
}

.navbar .cv{
    background-color: transparent;
    margin-left: 2%;
    margin-top: 5px;
}

.navbar.scroll{
    background-color: black;
}

.navbar.scroll .cv{
    background-color: white;
    padding-left: 2px;
    padding-top: 2px;
}



    /* barre de navigation */

    /* barre de navigation tablette et portable */

    /* "Acceuil" */

header{
    background-image: url("images/back.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    top: 0;
}

header h1{
    color: white;
    font-size: 300%;
    margin: 0.5% 0;
    text-transform: uppercase;
}

header  h2{
    color: white;
    margin: 0.5% 0;
    letter-spacing: 0.7px;
}

.container{
    position: relative;
    top: 35%;
    letter-spacing: 0.7px;
    margin: 0;
}

    /* "Acceuil" */

    /* Projets */

main .apropos{
    background-color: #0F2C54;
    text-align: center;
    padding: 10px;
    color: #F8BE00;
}

main .apropos h1{
    color: #F8BE00;
    margin: 0;
    text-transform: uppercase;
}

main .apropos .container1{
    max-width: 50%;
    padding-left: 5%;
    padding-top: 2.5%;
}

main .apropos .container1 p{
    font-size: 120%; 
    text-align: justify;
}

    /* SKILLS */

.content{
    display: flex;
}

.container2{
    margin-left: 5%;
}

#skills {
    padding: 20px 15px 75px 15px;
    color: #fff;
    }
    
    .skills-text {
    min-width: 30em;
    font-size: 20px;
    right: 5em;
    bottom: 2em;
    }
    
    .skills-list {
    overflow: hidden;
    position: relative;
    z-index: 10;
    }
    
    .skill-name:after {
    background-color: #999797;
    content: '';
    display: block;
    height: 1rem;
    position: relative;
    top: 3px;
    /*top: 1rem;*/
    width: 100%;
    }
    
    .skill-percent {
    font-size: 0;
    height: 1rem;
    position: relative;
    top: -.8rem;
    margin-left: 0;
    }
    
    /* SKILL BAR COLORS */

    .skill-percent-web {
    background-color: #F8BE00;
    width: 90%;
    }
    
    .skill-percent-js {
    background-color: #F8BE00;
    width: 20%;
    }
    
    .skill-percent-sql {
    background-color: #F8BE00;
    width: 45%;
    }
    
    .skill-percent-c {
    background-color: #F8BE00;
    width: 80%;
    }
    
    .skill-percent-py {
    background-color: #F8BE00;
    width: 85%;
    }
    
    .skill-percent-unix {
    background-color: #F8BE00;
    width: 50%;
    }
    
    .skill-percent-java {
    background-color: #F8BE00;
    width: 60%;
    }
    
    .skill-percent-projet {
    background-color: #F8BE00;
    width: 75%;
    }

    /* SKILLS */

    /* Projets */

main .projets{
    background-color: #0F2C54;
    text-align: center;
    padding: 10px;
    color: #F8BE00;
}

main .projets h1{
    color: #F8BE00;
    margin: 0;
    text-transform: uppercase;
}

.projets .liens .ligne1{
    display: flex;
    align-items: center;
    padding-top: 1%;
}

.projets .liens .ligne2{
    display: flex;
    align-items: center;
}

.projets a{
    color: #F8BE00;
    text-decoration: none;
}

.projets a:hover{
    text-decoration: underline;
}

.projets a figcaption h3{
    margin: 0;
    font-size: 130%;
}

.projets a figcaption h4{
    margin: 0;
    font-size: 110%;
}

    /* Projets */

    /* Footer */

.mail{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

.mail h3{
    position: relative;
    left: 15%;
}

.mail a{
    color: white;
    text-decoration: none;
    font-size: 130%;
    position: relative;
    left: 50%;
}

.mail a:hover{
    color: #F8BE00;
    text-decoration: underline;
}

.more{
    background-color: #7E7E84;
    color: white;
    display: flex;
    align-items: center;
}

.more h4{
    position: relative;
    left: 17%;
    font-size: 120%;
    margin: 0;
}

.more figure{
    margin: 5px;
}

.more .github{
    position: relative;
    left: 56%;
}

.more .gitlab{
    position: relative;
    left: 57%;
}

.more .viadeo{
    position: relative;
    left: 58%;
}

    /* Footer */

    /* Format tablette et portabel*/

@media(max-width:1330px){
    .navbar ul{
        margin: 0 10%;
    }

    .navbar h1{
        margin-left: 2%;
    }

    .mail h3{
        left: 2%;
    }

    .mail a{
        left: 40%;
    }

    .more h4{
        left: 7%;
    }

    .more .github{
        left: 53%;
    }

    .more .gitlab{
        left: 54%;
    }

    .more .viadeo{
        left: 55%;
    }
}

@media(max-width:1040px){
    .apropos .container1 figure{
        display: none;
    }
}

    /* Format tablette et portabel*/
